<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <location path="index.html">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="OrderOnline.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="PizzaMadness.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="test.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Events.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Register.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Aboutus.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="BeerMenu.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="CateringMenu.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="ContactUs.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Default.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Gallery.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Login.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="RegularMenu.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="SpecialSection.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Testimonials.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Videos.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="WineMenu.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="WriteaReview.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
 <system.web>
    <compilation debug="true" targetFramework="4.5.2">
     <assemblies>
     </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5.2" />
  <authentication mode="Forms">
      <forms loginUrl="Login.aspx" defaultUrl="Default.aspx" protection="All" timeout="1440" />
    </authentication>
    <authorization>
      <allow users="?" />
    </authorization>
    <pages>
       <controls>
          <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
       </controls>
    </pages>
    <httpHandlers>
       <add verb="*" path="captimage.axd" type="Syncfusion.JavaScript.ImageHandler, Syncfusion.EJ, Version=17.4451.0.46, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
    </httpHandlers>
    <profile defaultProvider="DefaultProfileProvider">
       <providers>
       </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
       <providers>
       </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
       <providers>
       </providers>
    </roleManager>
  </system.web>
  <appSettings>
    <add key="ServerHost" value="smtp.gmail.com" />
    <add key="PortNumber" value="25" />
    <add key="FromEmail" value="testimonial15pizza@gmail.com" />
    <add key="Password" value="pizza@123" />
    <add key="MailSubject" value="Testimonial from Pizza Application" />
    <add key="MailTo0" value="akilesh1111@gmail.com" />
    <add key="MailTo1" value="patrick@15thstreetpizza.com" />
    <add key="MailTo2" value="dennis@15thstreetpizza.com" />
    <add key="MailTo3" value="Katie@15thstreetpizza.com" />
    <add key="MailTo4" value="marellapudi@gmail.com" />
    <add key="MailTo5" value="testimonial15pizza@gmail.com" />
    <add key="GenericSystemError" value="I am sorry, there is an issue with our server, please check back" />
    <add key="TopTestimonialID" value="123" />
    <add key="autoFormsAuthentication" value="false" />
    <add key="enableSimpleMembership" value="false" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
<connectionStrings>
<!--<add name="Pizza15Model" connectionString="data source=syssigma-pc\sqlexpress;initial catalog=Pizza15New;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
  
<!--<add name="Pizza15Model" connectionString="metadata=res://*/;provider=System.Data.SqlClient;provider connection string=&quot;data source=Pizza15New.db.10336480.hostedresource.com;initial catalog=Pizza15New;user id=Pizza15New;password=Friday@5;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
<!--<add name="Pizza15Model" connectionString="data source=Pizza15New.db.10336480.hostedresource.com;initial catalog=Pizza15New;user id=Pizza15New;password=Friday@5;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
<!--<add name="Pizza15Model" connectionString="data source=SYSSIGMA-PC\SQLEXPRESS;initial catalog=Pizza15New;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
<!-- <add name="Pizza15Model" connectionString="data source=SYSSIGMA-PC\SQLEXPRESS;initial catalog=Pizza15New;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
<!--<add name="Pizza15" connectionString="data source=DESKTOP-P6MJ6MV;initial catalog=Pizza15New;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
<!-- <add name="Pizza15Model" connectionString="data source=DESKTOP-P6MJ6MV;initial catalog=Pizza15New;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /> -->
<!-- <add name="Pizza15Model" connectionString="data source=DESKTOP-P6MJ6MV;initial catalog=Pizza15New;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>-->
  <add name="Pizza15Model" connectionString="data source=DESKTOP-P6MJ6MV;initial catalog=Pizza15New;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /></connectionStrings> 
<system.webServer>
<validation validateIntegratedModeConfiguration="false" />
<modules runAllManagedModulesForAllRequests="true" />
<handlers>
<add verb="*" path="captimage.axd" name="syncfusion_generatetools" type="Syncfusion.JavaScript.ImageHandler, Syncfusion.EJ, Version=17.4451.0.46, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
</handlers>
</system.webServer>

</configuration>